*{
    box-sizing:border-box;
}
body {
    background-color:#0c051d;
    border:solid 1px red;
    margin-right:5%;
    margin-left:5%;
    margin-top:5%;
}
@media (min-width:800){
    body{
        margin-right:5%;
        margin-left:5%;  
    }
}
@media (min-width:1200px){
    body{
    margin-right:2%;
    margin-left:2%;
    }
}


.top h1{
    color:white;
    font-size:50px;
    font-style: italic;
    font-weight:bolder;
    margin-bottom:0;
   text-align:center;
}


@media (min-width:1200px) {
    .top h1{
        color:red;
        text-align:start;
    }
}

#link{
   color:white;
   display: flex;
   flex-direction:row;
   align-items:center;
}
#link h3 {
    margin-right:80px;
    font-weight:100;
    margin-top:30px;
}
.first {
    display:flex;
    flex-direction:column;
    color:white;
    border:1px solid white;
}
@media (min-width:1200px) {
    .first{
        display:flex;
        flex-direction:row;
    }

}
.first img{
    width:500px;
    height:auto;
    /*margin-left:200px;*/
}
h1{
    color:white;
    font-weight:bolder;
    font-style:oblique;
}
.details p{
    font-size:20px;
}
img {
    
    border-radius: 40px;
    width:3000px;
    
}
@media (min-width:1200px) {
    img{
        border-radius:0;
    }
}
